{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Expense Summary</h1>

    <div class="flex flex-wrap items-center mt-6">
        <div class="w-[50%]">
            <canvas id="barChart" class="w-full h-full max-h-[400px]"></canvas>
        </div>
        <div class="w-[50%]">
            <canvas id="douChart" class="w-full h-full max-h-[400px]"></canvas>
        </div>    
        </div>
    </div>
</div>

<script src="{% static 'js/expenseStats.js' %}"></script>

{% endblock content %}
